:host {
    display: flex;
}

.movie-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    &.movie-card--watchlist {
        background-color: #E8F5E9;
    }

    .movie-card__content {
        flex: 1 1 auto;
    }

    .movie-card__image {
        height: 200px;
        object-fit: cover;
    }
}