<mat-card class="movie-card" *ngIf="movie !== undefined">
    <mat-card-header>
        <mat-card-title>{{movie.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{movie.genre}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="movie-card__image" src="{{movie.posterUri}}" alt="The movies poster">
    <mat-card-content class="movie-card__content">
        <p>
        {{movie.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>