<mat-card class="movie-card" [ngClass]="{'movie-card--watchlist': isOnWatchlist}" *ngIf="movie !== undefined">
    <mat-card-header>
        <mat-card-title>{{movie.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{movie.genre}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="movie-card__image" src="{{movie.posterUri}}" alt="The movies poster">
    <mat-card-content class="movie-card__content">
        <p>
        {{movie.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="!isOnWatchlist" (click)="addToWatchlist()">
            <mat-icon aria-hidden="false" aria-label="Add icon">add</mat-icon>
            Add to watchlist
        </button>
        <button mat-button *ngIf="isOnWatchlist" (click)="removeFromWatchlist()">
            <mat-icon aria-hidden="false" aria-label="Remove icon">remove</mat-icon>
            Remove from watchlist
        </button>
    </mat-card-actions>
</mat-card>