.navigation-drawer {
    height: calc(100% - 64px);
    
    .navigation-drawer__nav {
        width: 250px;
    }

    .navigation-drawer__content {
        padding: 1em;
    }
}

.toolbar__spacer {
    flex: 1 1 auto;
}